# These will be added to the window so the Studio can read them
SANITY_PUBLIC_PROJECT_ID=pnkijp0b
SANITY_PUBLIC_DATASET=remix
SANITY_PUBLIC_API_VERSION=2022-09-19

# Generated in sanity.io/manage
# Token with "Viewer" permissions
SANITY_READ_TOKEN=

# Generated in sanity.io/manage
# Token with "Editor" permissions
SANITY_WRITE_TOKEN=